* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
.about-us {
  padding: 10px;
  margin-top: 70px;
  margin-bottom: 40px;
}
#US-heading {
  margin: 10px;
  padding: 30px;
  text-align: center;
}
#a-img {
  max-width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}
.footer {
  padding: 50px;
  color: rgb(0, 0, 0);
}
li,
a {
  list-style: none;
  text-decoration: none;
  color: black;
}
