* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
#Africa-heading,
#Asia-heading,
#South-A-heading {
  margin: 10px;
  padding: 30px;
  text-align: center;
}
#upload-heading {
  margin: 10px;
  padding: 30px;
  text-align: center;
}
.footer {
  padding: 50px;
  color: rgb(0, 0, 0);
}
li,
a {
  list-style: none;
  text-decoration: none;
  color: black;
}
